<br />
<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <div class="welcome-message">
        <h4 style="color: #000;">Hey! {{ Uname }}!</h4>
      </div>
      <div>
        <form action="/updateDP" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-1 col-lg-offset-5">
              <input type="file" name="dp" id="dp">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-1 col-lg-offset-5">
              <img src="https://s3.ap-south-1.amazonaws.com/troy96/dp_{{ Uname }}.jpg" width="130" height="170">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
              <input type="submit" class="btn btn-success" value="Update">
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <h2 class="welcome-message" style="color: #000;">Message Board:</h2>
      <marquee direction="up" height="195">
        {{#each jobs}}
        <h4><b>Jobs:</b></h4>
        <div class="notice-block">
          <div class="notice-title">
            <b>{{placement_type}}</b> - <b>{{comp_name}}</b>
          </div>
          <div class="notice-description">
            <b>Date:</b>{{date}} <b>Time:</b>{{time}} <b>Venue:</b>{{venue}}
          </div>
          <div class="notice-description">
            <b>Eligibility:</b> - {{eligibility}}
          </div>
        </div>
        <hr />
        {{/each}}
      </marquee>
    </div>
  </div>
</div>
</div>
</div>
<hr />
<div class="container-fluid">
  <div class="well">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Content</th>
          </tr>
        </thead>
        <tbody>
          {{#each student}}
          <tr>
            <td>First Name</td>
            <td>{{first_name}}</td>
          </tr>
          {{#if last_name}}
          <tr>
            <td>Last Name</td>
            <td>{{last_name}}</td>
          </tr>
          {{/if}}
          <tr>
            <td>Course</td>
            <td>{{course}}</td>
          </tr>
          <tr>
            <td>College ID</td>
            <td>{{collegeID}}</td>
          </tr>
          <tr>
            <td>Tenth Score</td>
            <td>{{tenthMarks}}</td>
          </tr>
          <tr>
            <td>Twelvth Score</td>
            <td>{{twelvthMarks}}</td>
          </tr>
          <tr>
            <td>B.Tech. Score</td>
            <td>{{btechMarks}}</td>
          </tr>
          <tr>
            <td>Training Company</td>
            <td>{{training_company}}</td>
          </tr>
          <tr>
            <td>Training Location</td>
            <td>{{training_location}}</td>
          </tr>
          <tr>
            <td>Training Duration</td>
            <td>{{training_duration}}</td>
          </tr>
          <tr>
            <td>Native Place</td>
            <td>{{native_place}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>Mobile No.</td>
            <td>{{phone}}</td>
          </tr>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{dob}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr />
</div>